.classpath
.project
.settings
.springBeans
.idea
build
Maven_Ant_Builder.launch
maven-eclipse.xml
target
work
bin
.DS_Store
.gradle

**/*.ipr
**/*.iws
**/*.iml
**/*.hprof
**/*.log
**/*.Apple*
**/*:2e*
**/*.tmproj*
**/*.bak
